<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Self-Learning">
    <listeners>
        <listener class-name="reusable.TestListeners"/>
    </listeners>
    <test name="TestCases">
        <classes>
            <class name="scripts.ScriptTest"/>
        </classes>
    </test><!-- Test -->
</suite><!-- Suit -->